/* .App {
  font-family: sans-serif;
  text-align: center;
} */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar css Start */
.navbar {
  display: flex;
  /* justify-content: space-between; */
  justify-content: right;
  /* margin: 2% 3% 3% 3%; */
  background-color: ghostwhite;
}

.nav-1 {
  /* justify-content: right;
text-align: right;
align-items: flex-end; */
  width: 100%;
}

.nav-2 {
  display: flex;
  justify-content: right;
}

.nav-img {
  width: 12vw;
  margin: 3% 3% 3% 50px;
}

.nav-list {
  list-style: none;
  margin: 3%;
}

.item {
  text-decoration: none;
  color: black;
  margin: 3%;
}
.active{
  color:aqua;
}
.mobile-navbar-btn{
  background: transparent;
  display: none;
  cursor: pointer;
}
.mobile-nav-icon{
  width: 4rem;
  height: 4rem;
  color: #212529;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
}
@media screen and (max-width: 480px){
  .mobile-navbar-btn{
    display: block;
    z-index: 11;
    border: 3px solid #212529;
    color: #212529;
  }
  .navbar{
    position: relative;
  }
  .nav-2{
    /* display: none; */
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    position: absolute;
  }
}
/* Navbar css ends */

/* Home section css start */
.home{
  position: relative;
  text-align: center;
  /* color: white; */
}
.home-img{
  width: 100%;
}
.text-over-img{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: inherit;
  letter-spacing: 0.45em;
  font-size: 1.7rem;
  /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}
.bold{
  font-weight: 100;
}
.bold-ls{
  font-weight: 1;
}
/* Home section css ends  */

/* Card section css start  */
.card{
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}
.blog-img{
  width: 100%;
}
.blog-text{
  display: grid;
  grid-template-rows: 1fr 2.5fr 1fr;
}
/* .blog-botm{
  text;
} */
/* Card section css ends  */